# Undertanding test results

## Success:

'Transform JMcK' test run was passed
Test data matched the expected results.


## Failure difference table



## Failure difference table with rowcounts only






