# Undertanding test results

## Success:

'Transform JMcK' test run was passed
Test data matched the expected results.


## Failure

## Failure with RowCount only






